body {
  background-image: url("../home/background-home-desktop.jpg");
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.text2 {
  width: 400px;
}

.space {
  color: white;
  font-family: Bellefair;
  font-size: 7rem;
  letter-spacing: 0.3cm;
}

.tex-meio {
  line-height: 1.8;
  width: 380px;
}

.fraseHome {
  font-size: 1.5rem;
}
